<mapper namespace="com.example.px_service.mapper.OperateLogMapper">
    <update id="insert">
        INSERT INTO operate_log (operate_emp_id, operate_time, className, method_name, method_params, return_value, cost_time) VALUES (#{operateEmpId}, #{operateTime}, #{className}, #{methodName}, #{methodParams}, #{returnValue}, #{costTime})
    </update>

</mapper>